<div id="<%= dom_id journal_entry %>">
  <div>
    <strong>Entry number:</strong>
    <%= journal_entry.entry_number %>
  </div>

  <div>
    <strong>Entry date:</strong>
    <%= journal_entry.entry_date %>
  </div>

  <div>
    <strong>Reference type:</strong>
    <%= journal_entry.reference_type %>
  </div>

  <div>
    <strong>Reference:</strong>
    <%= journal_entry.reference_id %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= journal_entry.description %>
  </div>

  <div>
    <strong>Total debit:</strong>
    <%= journal_entry.total_debit %>
  </div>

  <div>
    <strong>Total credit:</strong>
    <%= journal_entry.total_credit %>
  </div>

  <div>
    <strong>Posted by:</strong>
    <%= journal_entry.posted_by %>
  </div>

  <div>
    <strong>Posted at:</strong>
    <%= journal_entry.posted_at %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= journal_entry.deleted %>
  </div>

  <div>
    <strong>Accounting period:</strong>
    <%= journal_entry.accounting_period %>
  </div>

</div>
