<div id="<%= dom_id customer %>">
  <div>
    <strong>Code:</strong>
    <%= customer.code %>
  </div>

  <div>
    <strong>Full name:</strong>
    <%= customer.full_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= customer.email %>
  </div>

  <div>
    <strong>Phone number:</strong>
    <%= customer.phone_number %>
  </div>

  <div>
    <strong>Billing address:</strong>
    <%= customer.billing_address %>
  </div>

  <div>
    <strong>Shipping address:</strong>
    <%= customer.shipping_address %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= customer.is_active %>
  </div>

  <div>
    <strong>Created by:</strong>
    <%= customer.created_by_id %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= customer.deleted %>
  </div>

</div>
