<div class="count-line-row border rounded p-3 mb-3">
  <div class="row">
    <div class="col-md-3">
      <%= f.association :product,
          collection: Product.where(deleted: false, is_stocked: true).order(:name),
          label_method: lambda { |p| "#{p.sku} - #{p.name}" },
          input_html: { class: 'form-control form-control' } %>
    </div>
    
    <div class="col-md-3">
      <%= f.association :location,
          collection: Location.active.order(:name),
          label_method: lambda { |l| "#{l.code} - #{l.name}" },
          input_html: { class: 'form-control form-control' } %>
    </div>

    <div class="col-md-3">
      <%= f.association :batch,
          collection: StockBatch.non_deleted,
          label_method: :batch_number,
          value_method: :id,
          label: 'Batch (if tracked)',
          include_blank: 'No Batch',
          input_html: { class: 'form-control form-control' } %>
    </div>
    
    <% if f.object.persisted? && f.object.cycle_count.status != 'SCHEDULED' %>
      <div class="col-md-2">
        <label class="form-label">System Qty</label>
        <input type="text" class="form-control form-control-sm" 
               value="<%= f.object.system_qty %>" readonly>
      </div>
      
      <div class="col-md-2">
        <%= f.input :counted_qty,
            label: 'Counted Qty',
            input_html: { class: 'form-control form-control-sm', min: 0 } %>
      </div>
      
      <% if f.object.variance.present? %>
        <div class="col-md-1">
          <label class="form-label">Variance</label>
          <span class="badge <%= f.object.variance > 0 ? 'bg-success' : 'bg-danger' %> d-block">
            <%= f.object.variance > 0 ? '+' : '' %><%= f.object.variance %>
          </span>
        </div>
      <% end %>
    <% end %>
    
    <div class="col-md-1">
      <label>&nbsp;</label>
      <button type="button" class="btn btn-xs btn-outline-danger remove-count-line w-100">
        X
      </button>
      <%= f.input :_destroy, as: :hidden %>
    </div>
  </div>
</div>