<div id="<%= dom_id product %>">
  <div>
    <strong>Sku:</strong>
    <%= product.sku %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= product.name %>
  </div>

  <div>
    <strong>Product category:</strong>
    <%= product.product_category_id %>
  </div>

  <div>
    <strong>Unit of measure:</strong>
    <%= product.unit_of_measure_id %>
  </div>

  <div>
    <strong>Is batch tracked:</strong>
    <%= product.is_batch_tracked %>
  </div>

  <div>
    <strong>Is serial tracked:</strong>
    <%= product.is_serial_tracked %>
  </div>

  <div>
    <strong>Reorder point:</strong>
    <%= product.reorder_point %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= product.is_active %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= product.deleted %>
  </div>

</div>
