<div id="<%= dom_id supplier %>">
  <div>
    <strong>Code:</strong>
    <%= supplier.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= supplier.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= supplier.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= supplier.phone %>
  </div>

  <div>
    <strong>Billing address:</strong>
    <%= supplier.billing_address %>
  </div>

  <div>
    <strong>Shipping address:</strong>
    <%= supplier.shipping_address %>
  </div>

  <div>
    <strong>Lead time days:</strong>
    <%= supplier.lead_time_days %>
  </div>

  <div>
    <strong>On time delivery rate:</strong>
    <%= supplier.on_time_delivery_rate %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= supplier.is_active %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= supplier.deleted %>
  </div>

  <div>
    <strong>Created by:</strong>
    <%= supplier.created_by %>
  </div>

</div>
