<div id="<%= dom_id tax_code %>">
  <div>
    <strong>Code:</strong>
    <%= tax_code.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= tax_code.name %>
  </div>

  <div>
    <strong>Jurisdiction:</strong>
    <%= tax_code.jurisdiction %>
  </div>

  <div>
    <strong>Tax type:</strong>
    <%= tax_code.tax_type %>
  </div>

  <div>
    <strong>Country:</strong>
    <%= tax_code.country %>
  </div>

  <div>
    <strong>State province:</strong>
    <%= tax_code.state_province %>
  </div>

  <div>
    <strong>County:</strong>
    <%= tax_code.county %>
  </div>

  <div>
    <strong>City:</strong>
    <%= tax_code.city %>
  </div>

  <div>
    <strong>Rate:</strong>
    <%= tax_code.rate %>
  </div>

  <div>
    <strong>Is compound:</strong>
    <%= tax_code.is_compound %>
  </div>

  <div>
    <strong>Compounds on:</strong>
    <%= tax_code.compounds_on %>
  </div>

  <div>
    <strong>Effective from:</strong>
    <%= tax_code.effective_from %>
  </div>

  <div>
    <strong>Effective to:</strong>
    <%= tax_code.effective_to %>
  </div>

  <div>
    <strong>Tax authority:</strong>
    <%= tax_code.tax_authority_id %>
  </div>

  <div>
    <strong>Filing frequency:</strong>
    <%= tax_code.filing_frequency %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= tax_code.is_active %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= tax_code.deleted %>
  </div>

</div>
