<div id="<%= dom_id warehouse %>">
  <div>
    <strong>Name:</strong>
    <%= warehouse.name %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= warehouse.code %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= warehouse.address %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= warehouse.is_active %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= warehouse.deleted %>
  </div>

</div>
