<!-- app/views/warehouses/show.html.erb -->
<div class="main-content">
  <%= render 'layouts/alerts' %>

  <div class="page-header">
    <h2 class="header-title">View Warehouse</h2>
    <div class="header-sub-title">
      <nav class="breadcrumb breadcrumb-dash">
        <a href="/" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
        <a class="breadcrumb-item" href="#">Masters</a>
        <a class="breadcrumb-item" href="<%= warehouses_path %>">Warehouse</a>
        <span class="breadcrumb-item active">View Warehouse</span>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="m-t-10">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="25%">Code</th>
                    <td><%= @warehouse.code %></td>
                  </tr>

                  <tr>
                    <th>Name</th>
                    <td><%= @warehouse.name %></td>
                  </tr>

                  <tr>
                    <th>Address</th>
                    <td><%= @warehouse.address %></td>
                  </tr>

                  <tr>
                    <th>Active</th>
                    <td><%= @warehouse.is_active ? "Yes" : "No" %></td>
                  </tr>

                  <tr>
                    <th>Created At</th>
                    <td><%= @warehouse.created_at.strftime("%b %d, %Y") %></td>
                  </tr>

                  <tr>
                    <th>Actions</th>
                    <td>
                      <%= link_to "Edit", edit_warehouse_path(@warehouse) %> |
                      <%= link_to "Delete", delete_warehouse_path(@warehouse),
                                method: :delete,
                                data: { confirm: "Are you sure?" }, class: "confirm-delete"  %>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>