<div id="<%= dom_id location %>">
  <div>
    <strong>Warehouse:</strong>
    <%= location.warehouse_id %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= location.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= location.name %>
  </div>

  <div>
    <strong>Is pickable:</strong>
    <%= location.is_pickable %>
  </div>

  <div>
    <strong>Is receivable:</strong>
    <%= location.is_receivable %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= location.deleted %>
  </div>

</div>
