<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="<%= 'active' if request.path == home_path %>">
                        <a href="<%= home_path %>"><i class="anticon anticon-home"></i> Home</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title">Administration</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    

                    <li class="<%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'roles_list' %>">Roles Mangment</a>
                    </li>
                

                    <% if can?(:manage_users) %>
                        <li class="<%= 'active' if request.path.include? settings_users_path %>">
                            <a href="<%= settings_users_path %>">Users</a>
                        </li>
                    <% end -%>
                    <% if can?(:manage_settings) %>
                        <li class="<%= 'active' if request.path.include? settings_organization_path %>">
                            <a href="<%= settings_organization_path %>">Organization Settings</a>
                        </li>

                        <li class="<%= 'active' if request.path.include? settings_mrp_configuration_path %>">
                            <a href="<%= settings_mrp_configuration_path %>">MRP Settings</a>
                        </li>
                    <% end -%>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-box"></i>
                    </span>
                    <span class="title">Masters</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

               
                <ul class="dropdown-menu">

                    <li class="<%= 'active' if request.path.include? unit_of_measures_path %>">
                        <a href="<%= unit_of_measures_path %>">Unit of Measures</a>
                    </li>
                
                    <li class="<%= 'active' if request.path.include? product_categories_path %>">
                        <a href="<%= product_categories_path %>">Product Categories</a>
                    </li>
                

                    <li class="<%= 'active' if request.path.include? products_path %>">
                        <a href="<%= products_path %>">Products</a>
                    </li>
                    <li class="<%= 'active' if request.path.include? work_centers_path %>">
                        <a href="<%= work_centers_path %>">Work Centers</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? customers_path %>">
                        <a href="<%= customers_path %>">Customers</a>
                    </li>
               
                    <li class="suppliers' %> <%= 'active' if request.path.include? suppliers_path %>">
                        <a href="<%= suppliers_path %>">Suppliers</a>
                    </li>
              
                    <li class="<%= 'active' if request.path.include? warehouses_path %>">
                        <a href="<%= warehouses_path %>">Warehouses</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? locations_path %>">
                        <a href="<%= locations_path %>">Locations</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? tax_codes_path %>">
                        <a href="<%= tax_codes_path %>">Tax Codes</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dollar"></i>
                    </span>
                    <span class="title">Financial Management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    <li class="finance' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'finance' %>"> Home</a>
                    </li>
                    <li class="accounts' %> <%= 'active' if request.path.include? accounts_path %>">
                        <a href="<%= accounts_path %>">Chart of Accounts</a>
                    </li>
               
                    <li class="journal' %> <%= 'active' if request.path.include? journal_entries_path %>">
                        <a href="<%= journal_entries_path %>">Journal Entries</a>
                    </li>
                
                    <li class="jobcostrecords' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'jobcostrecords_list' %>">JobCostRecord</a>
                    </li>
               
                    <li class="overheadrates' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'overheadrates_list' %>">OverheadRate</a>
                    </li>
               
                    <li class="payables' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'payables_list' %>">Payable</a>
                    </li>
               
                    <li class="laborrates' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'laborrates_list' %>">LaborRate</a>
                    </li>
                
                    <li class="productcostsheets' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'productcostsheets_list' %>">Product Cost Sheet</a>
                    </li>
                </ul> 
            </li>



            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-setting"></i>
                    </span>
                    <span class="title">Core Manufacturing</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">

                    <li class="<%= 'active' if request.path.include? production_home_path %>">
                        <a href="<%= production_home_path %>"> Home</a>
                    </li>
               
                    <li class="<%= 'active' if request.path.include? work_orders_path %>">
                        <a href="<%= work_orders_path %>">Work Orders </a>
                    </li>

               
                    <li class="mrp_runs' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'mrpruns_list' %>">MRP Runs</a>
                    </li>
               
                    <li class="planningparameters' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'planningparameters_list' %>">Planning Parameters</a>
                    </li>
                
                    <li class="mrpprojectedbalances' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'mrpprojectedbalances_list' %>">MRP Projected Balances</a>
                    </li>
               
                    <li class="mrpexceptions' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'mrpexceptions_list' %>">MRP Exception</a>
                    </li>
               
                    <li class="mrpplannedorders' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'mrpplannedorder_list' %>">MRP Planned Order</a>
                    </li>
               
                    
                </ul>
            </li>

            

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-calculator"></i>
                    </span>
                    <span class="title">Procurement & Inventory</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    <li class="<%= 'active' if request.path.include? inventory_dashboard_path %>">
                        <a href="<%= inventory_dashboard_path %>"> Home</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? rfqs_path %>">
                        <a href="<%= rfqs_path %>">Request for Quotes (RFQs)</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_purchase_orders_path %>">
                        <a href="<%= inventory_purchase_orders_path %>">Purchase Orders</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_goods_receipts_path %>">
                        <a href="<%= inventory_goods_receipts_path %>">Goods Receipts</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_stock_batches_path %>">
                        <a href="<%= inventory_stock_batches_path %>">Stock Batches</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_stock_issues_path %>">
                        <a href="<%= inventory_stock_issues_path %>">Stock Issues</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_stock_transfers_path %>">
                        <a href="<%= inventory_stock_transfers_path %>">Stock Transfers</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_stock_adjustments_path %>">
                        <a href="<%= inventory_stock_adjustments_path %>">Stock Adjustments</a>
                    </li>

                    <li class="<%= 'active' if request.path.include? inventory_cycle_counts_path %>">
                        <a href="<%= inventory_cycle_counts_path %>">Cycle Counts</a>
                    </li>
               
                </ul> 
            </li>



            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-car"></i>
                    </span>
                    <span class="title">Sales</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    <li class="sales' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'sales' %>"> Home</a>
                    </li>
                    <li class="salesorders' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'salesorder_list' %>">Sales Orders</a>
                    </li>
               
                    <li class="shipments' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'shipments_list' %>">Shipments</a>
                    </li>
               
                    <li class="receivables' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'receivables_list' %>">Receivable</a>
                    </li>
                </ul> 

            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-vial"></i>
                    </span>
                    <span class="title">Quality Management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                 <ul class="dropdown-menu">

                    <li class="quality' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'quality' %>"> Home</a>
                    </li>

                    <li class="qualityinspection' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'qualityinspection_list' %>">Quality Inspection</a>
                    </li>
               
                    <li class="nonconformancereports' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'nonconformancereports_list' %>">Non Conformance Reports</a>
                    </li>
               
                    <li class="capas' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'capas_list' %>">CAPA (Corrective and Preventive Action)</a>
                    </li>
                </ul> 

            </li>


             <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-tool"></i>
                    </span>
                    <span class="title">Maintenance & Machine</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                

                <ul class="dropdown-menu">

                    <li class="maintenance_machine' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'maintenance_machine' %>"> Home</a>
                    </li>

                    <li class="machines' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'machines_list' %>">Machines</a>
                    </li>
                
                    <li class="maintenancetasks' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'maintenancetasks_list' %>">MaintenanceTask</a>
                    </li>
               
                    <li class="maintenance_checklist' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'templates_list' %>">Maintenance Checklist</a>
                    </li>
               
                    <li class="maintenancechecklistlines' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'maintenancechecklistlines_list' %>">Maintenance Checklist Line</a>
                    </li>
              
                    <li class="breakdownlogs' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'breakdownlogs_list' %>">BreakdownLogs</a>
                    </li>
               
                    <li class="oee' %> <%= 'active' if !request.path.include? '' %>">
                        <a href="<%= 'oee_list' %>">OEE (Overall Equipment Effectiveness) Calculation</a>
                    </li>
                </ul> 

            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-tool"></i>
                    </span>
                    <span class="title">Tools & Utilities</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="<%= 'active' if request.path.include? production_calculator_path %>">
                        <a href="<%= production_calculator_path %>"> Production Calculator</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Reports</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="<%= 'active' if request.path.include? '/reports/routing' %>">
                        <a href="<%= '/reports/routing' %>"> Routings</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li class="<%= 'active' if request.path.include? '/reports/work_order' %>">
                        <a href="<%= '/reports/work_order' %>"> Work Orders</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>