<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="<%= 'active' if request.path == '/home' %>">
                        <a href="/home"><i class="anticon anticon-home"></i> Home</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title">Administration</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

               
                <ul class="dropdown-menu">

                    

                    <li class="<%= 'active' if request.path == '' %>">
                        <a href="<%= 'roles_list' %>">Roles Mangment</a>
                    </li>
                

               
                    <li class="<%= 'active' if request.path == '' %>">
                        <a href="<%= 'users_list' %>">Users</a>
                    </li>
                
                    <li class="<%= 'active' if request.path == '' %>">
                        <a href="<%= 'organizations_list' %>">Settings</a>
                    </li>               

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-box"></i>
                    </span>
                    <span class="title">Masters</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

               
                <ul class="dropdown-menu">

                    <li class="<%= 'active' if request.path == unit_of_measures_path %>">
                        <a href="<%= unit_of_measures_path %>">Unit of Measures</a>
                    </li>
                
                    <li class="<%= 'active' if request.path == product_categories_path %>">
                        <a href="<%= product_categories_path %>">Product Categories</a>
                    </li>
                

                    <li class="<%= 'active' if request.path == products_path %>">
                        <a href="<%= products_path %>">Products</a>
                    </li>
               
                    <li class="<%= 'active' if request.path == '' %>">
                        <a href="<%= 'customers_list' %>">Customers</a>
                    </li>
               
                    <li class="suppliers' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'suppliers_list' %>">Suppliers</a>
                    </li>
              
                    <li class="<%= 'active' if request.path == warehouses_path %>">
                        <a href="<%= warehouses_path %>">Warehouses</a>
                    </li>

                    <li class="<%= 'active' if request.path == locations_path %>">
                        <a href="<%= locations_path %>">Locations</a>
                    </li>

                    <li class="<%= 'active' if request.path == tax_codes_path %>">
                        <a href="<%= tax_codes_path %>">Tax Codes</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dollar"></i>
                    </span>
                    <span class="title">Financial Management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    <li class="finance' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'finance' %>"> Home</a>
                    </li>
                    <li class="accounts' %> <%= 'active' if request.path == accounts_path %>">
                        <a href="<%= accounts_path %>">Chart of Accounts</a>
                    </li>
               
                    <li class="journal' %> <%= 'active' if request.path == journal_entries_path %>">
                        <a href="<%= journal_entries_path %>">Journal Entries</a>
                    </li>
                
                    <li class="jobcostrecords' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'jobcostrecords_list' %>">JobCostRecord</a>
                    </li>
               
                    <li class="overheadrates' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'overheadrates_list' %>">OverheadRate</a>
                    </li>
               
                    <li class="payables' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'payables_list' %>">Payable</a>
                    </li>
               
                    <li class="laborrates' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'laborrates_list' %>">LaborRate</a>
                    </li>
                
                    <li class="productcostsheets' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'productcostsheets_list' %>">Product Cost Sheet</a>
                    </li>
                </ul> 
            </li>



            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-setting"></i>
                    </span>
                    <span class="title">Core Manufacturing</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">

                    <li class="core_manufacturing' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'core_manufacturing' %>"> Home</a>
                    </li>
               
                    <li class="routings' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'routings_list' %>">Routing</a>
                    </li>
               
                    <li class="works' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'works_list' %>">Work Center</a>
                    </li>
                
                    <li class="workorders' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'workorders_list' %>">Work Orders</a>
                    </li>
               
                    <li class="workordersissues' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'workordersissues_list' %>">Work Orders Issue </a>
                    </li>
               
                    <li class="workorderreceipts' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'workordersreceipts_list' %>">Work Order Receipt </a>
                    </li>
              
                    <li class="workorderscraps' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'workorderscraps_list' %>">WorkOrder Scraps</a>
                    </li>
               
                    <li class="timelogs' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'timelogs_list' %>">Time logs</a>
                    </li>
                
                    <li class="mrp_runs' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'mrpruns_list' %>">MRP Runs</a>
                    </li>
               
                    <li class="planningparameters' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'planningparameters_list' %>">Planning Parameters</a>
                    </li>
                
                    <li class="mrpprojectedbalances' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'mrpprojectedbalances_list' %>">MRP Projected Balances</a>
                    </li>
               
                    <li class="mrpexceptions' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'mrpexceptions_list' %>">MRP Exception</a>
                    </li>
               
                    <li class="mrpplannedorders' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'mrpplannedorder_list' %>">MRP Planned Order</a>
                    </li>
               
                    <li class="operations' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'operations_list' %>">Operation</a>
                    </li>
                </ul>
            </li>

            

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-calculator"></i>
                    </span>
                    <span class="title">Inventory & Warehouse</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                     <li class="inventory_warehouse' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'inventory_warehouse' %>"> Home</a>
                    </li>

                    <li class="stockbatches' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'stockbatches_list' %>">Stock Batches</a>
                    </li>
               
                    <li class="stocklevels' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'stocklevels_list' %>">Stock Levels</a>
                    </li>
               
                    <li class="stocktransactions' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'stocktransactions_list' %>">Stock Transactions</a>
                    </li>
              
                    <li class="stocktranfers' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'stocktranfers_list' %>">StockTransfer</a>
                    </li>
               
                    <li class="cyclecounts' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'cyclecounts_list' %>">CycleCounts</a>
                    </li>
                </ul> 
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-inbox"></i>
                    </span>
                    <span class="title">Procurement</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    <li class="procurement' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'procurement' %>"> Home</a>
                    </li>

                    <li class="purchaseorders' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'purchaseorders_list' %>">Purchase Orders</a>
                    </li>
               
                    <li class="grns' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'grns_list' %>">Goods Receipt</a>
                    </li>
                </ul>

            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-car"></i>
                    </span>
                    <span class="title">Sales</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                <ul class="dropdown-menu">

                    <li class="sales' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'sales' %>"> Home</a>
                    </li>
                    <li class="<%= 'active' if request.path == customers_path %>">
                        <a href="<%= customers_path %>">Customers</a>
                    </li>
                    <li class="salesorders' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'salesorder_list' %>">Sales Orders</a>
                    </li>
               
                    <li class="shipments' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'shipments_list' %>">Shipments</a>
                    </li>
               
                    <li class="receivables' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'receivables_list' %>">Receivable</a>
                    </li>
                </ul> 

            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-vial"></i>
                    </span>
                    <span class="title">Quality Management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                 <ul class="dropdown-menu">

                    <li class="quality' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'quality' %>"> Home</a>
                    </li>

                    <li class="qualityinspection' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'qualityinspection_list' %>">Quality Inspection</a>
                    </li>
               
                    <li class="nonconformancereports' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'nonconformancereports_list' %>">Non Conformance Reports</a>
                    </li>
               
                    <li class="capas' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'capas_list' %>">CAPA (Corrective and Preventive Action)</a>
                    </li>
                </ul> 

            </li>


             <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-tool"></i>
                    </span>
                    <span class="title">Maintenance & Machine</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

                

                <ul class="dropdown-menu">

                    <li class="maintenance_machine' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'maintenance_machine' %>"> Home</a>
                    </li>

                    <li class="machines' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'machines_list' %>">Machines</a>
                    </li>
                
                    <li class="maintenancetasks' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'maintenancetasks_list' %>">MaintenanceTask</a>
                    </li>
               
                    <li class="maintenance_checklist' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'templates_list' %>">Maintenance Checklist</a>
                    </li>
               
                    <li class="maintenancechecklistlines' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'maintenancechecklistlines_list' %>">Maintenance Checklist Line</a>
                    </li>
              
                    <li class="breakdownlogs' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'breakdownlogs_list' %>">BreakdownLogs</a>
                    </li>
               
                    <li class="oee' %> <%= 'active' if request.path == '' %>">
                        <a href="<%= 'oee_list' %>">OEE (Overall Equipment Effectiveness) Calculation</a>
                    </li>
                </ul> 

            </li>


            


            
        </ul>
    </div>
</div>