<div id="<%= dom_id account %>">
  <div>
    <strong>Code:</strong>
    <%= account.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= account.name %>
  </div>

  <div>
    <strong>Sub type:</strong>
    <%= account.sub_type %>
  </div>

  <div>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= account.is_active %>
  </div>

  <div>
    <strong>Deleted:</strong>
    <%= account.deleted %>
  </div>

</div>
